# Tests
pytest==8.4.1
coverage==7.2.3

# Formatting
pre-commit==2.21.0

# Fazer contas com datas
python-dateutil==2.9.0

# Congelar datas para testar usando date.today()
freezegun==1.5.3

# Conexão com o banco de dados
psycopg2==2.9.10

# Pandas
pandas==2.3.1

# Leitura e escrita de arquivos Excel
openpyxl==3.1.5
